

<div class='container p-5  '>

  <div class='row '>

    <div class="col-md-7">
      <a href='/login'>
      <h5>Iniciar sesión</h5>
        <input class='imglogin' type="image" src="/public/img/imagenTeclainicio.jpg" id="teclerloginimage">
        
      </a>
    </div>

    <div class="col-md-4 ">
      <a href='/signin'>
        <h5>Registrate</h5>
        <input class='imglogin' type="image" src='/public/img/registro.jfif' id="teclerloginimage">

      </a>
    </div>

  </div>

</div>