<div>
  <h1>INICIAR SESIÓN</h1>
</div>

<div class='container p-5  '>
  <div class='row '>
    <div class="col-md-4">
      <a href='/login/tecler'>
        <h5>Soy un Tecler</h5>
        <input class='imglogin' type="image" src="/public/img/imagenTeclainicio.jpg" id="teclerloginimage">
      </a>
    </div>
    <div class="col-md-4 ">
      <a href='/login/evaluador'>
        <h5>Soy un Evaluador</h5>
        <input class='imglogin' type="image" src='/public/img/imagenTeclaEvaluadorinicio.jpg' id="teclerloginimage">
      </a>
    </div>
    <div class="col-md-4">
      <a href='/login/colaborador'>
        <h5>Soy un Colaborador</h5>
        <input class='imglogin' type="image" src='/public/img/imagenTeclaColaboradorinicio.jpg' id="teclerloginimage">
      </a>
    </div>
  </div>

</div>