<div class='container card'>
  <form action='/login/tecler/validation' method="POST" class="formulario" id="form1">
    <h1>Inicia sesión evaluador</h1>

    <div class='contenedor' id='datos'>

      <div class='input-contenedor'>
        <i class="fas fa-user icon"></i>
        <input id='GET-usuario' type="text" placeholder="Nombre de usuario" name='nombreUsuario'>
      </div>

      <div class='input-contenedor'>
        <i class="fas fa-key icon"></i>
        <input id='GET-pass' type="password" placeholder="Contraseña" name='password'>
      </div>


      <div class='p-5'>
        <button class='button'>Iniciar sesión</button>
      </div>


      <p>Al ingresar, aceptas los términos y condiciones.</p>
      <p>¿Aun no tienes una cuenta? <a class="link" href="/signin"> Registrate</a></p>
      <p>¿No eres un evaluador?<a class='link' href='/login'> Haz click aquí</a></p>

      


    </div>
  </form>
</div>