<div id="maincontainer">

  <div id="fotocontainer" style="padding: 5px;">
    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <img src="" alt="" style="height: 200px; width: 200px;" id="profilePhotoprofile">
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Actualiza tu foto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class='input-contenedor'>
              <input type="file" name='photoRegistertecler'>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Actualizar</button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="form-group">
    <input disabled type="text" name="" id="mailprofile" class="form-control">
  </div>
</div>

<div id="principalContainer">
  <div id="maincontainer">
    <nav class="navbar navbar-dark bg-dark" style="display: flex; justify-content: flex-start;">
      <a class="navbar-brand" href="./indexpage.html">Página principal</a>
      <a class="navbar-brand" href="#">Mi perfil</a>
      <a class="navbar-brand" id="closeSession" href="./login.html">Cerrar sesión</a>

    </nav>
    <div id="fotocontainer" style="padding: 5px;">
      <img src="" alt="" style="height: 200px; width: 200px;" id="profilePhotoprofile">
    </div>
    <div class="form-group">
      <input disabled type="text" name="" id="mailprofileEvaluator" class="form-control">
    </div>
    <div class="formats">
      <form action="" class="formats-profile">
        <div class="form-group">
          <h2>Bienvenido al perfil de</h2>
          <input disabled type="text" name="" id="usernameprofileEvaluator" value="" class="form-control">
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <input type="text" disabled id="tellUsSomethingprofileEvaluator" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="nameprofileEvaluator">En la vida real me llamo</label>
          <input disabled type="text" name="" id="nameprofileEvaluator" class="form-control">
        </div>
        <div class="form-group">
          <label for="jobprofileEvaluator">Soy</label>
          <input disabled type="text" name="" id="jobprofileEvaluator" class="form-control"> en TeclaCodeAcademy
        </div>
        <div class="form-group" id="passwordHidden" hidden>
          <label for="passwordprofileEvaluator">Mi nueva contraseña</label>
          <input disabled type="password" name="" id="passwordprofileEvaluator" class="form-control">
        </div>
        <table class="table" id="tableComments">
          <tr>
            <th>Comentarios sobre mi</th>
          </tr>
        </table>
        <div id="tableEvaluationsContainer">
          <h2>Mis evaluaciones</h2>
          <table class="table" id="evaluationstable">

          </table>
        </div>
      </form>
    </div>
  </div>

</div>




<div class="formats card">
  <form action="" class="formats-profile"></form>
  <div class="form-group">
    <h2>Bienvenido al perfil de</h2>
    <input disabled type="text" name="" id="usernameprofile" value="" class="form-control">
  </div>
  </form>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Nueva evaluación
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese los datos </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class='input-contenedor'>
          <input id='usernameLoginInput' type="text" placeholder="Nombre de usuario" name='username'>
        </div>
        <h4>Conocimientos</h4>

        <div class='input-contenedor'>
          <label>Bases de datos</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label>API'S</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label> Pruebas</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>


        <div class='input-contenedor'>
          <label>Seguridad</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>


        <div class='input-contenedor'>
          <label>Teoría de objetos</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <h4>Manejo de tecnologías</h4>
        <div class='input-contenedor'>
          <label>Node JS</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>


        <div class='input-contenedor'>
          <label>Swagger</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label>Frontend</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>
        <div class='input-contenedor'>
          <label>Javascript</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <h4>Desempeño</h4>

        <div class='input-contenedor'>
          <label>Calidad del código</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>
        <div class='input-contenedor'>
          <label>Velocidad de entrega</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>
        <div class='input-contenedor'>
          <label>Desempeño de código</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <h4>Habilidades blandas</h4>
        <div class='input-contenedor'>
          <label>Enfocado</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>
        <div class='input-contenedor'>
          <label>Trabajo en equipo</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label>Compromiso</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>
        <div class='input-contenedor'>
          <label>Comunicación</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>
        <div class='input-contenedor'>
          <label>Capacidad de aprender</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label>Solución de problemas</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <h4>Ambiente Profesional</h4>

        <div class='input-contenedor'>
          <label>Git-Hub</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label>Trello/Jira</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label>Slack</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>

        <div class='input-contenedor'>
          <label>Métodos ágiles</label>
          <input id='databases' type="number" placeholder="1-5" name='username'>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Hacer evaluación</button>
      </div>
    </div>
  </div>
</div>