<div class='container card '>
  <form class="formulario" action=''>
    <div class="text-center p-1">
      <h1>¡Bienvenido, nuevo tecler!</h1>

      <h4>Hablanos un poco sobre ti</h4>
    </div>


    <div class='contenedor' id='datos'>
      <div class='input-contenedor'>
        <i class="fas fa-user icon"></i>
        <input id='nameRegistertecler' type="text" placeholder="Nombre(s)" name='name'>
      </div>

      <div class='input-contenedor'>
        <i class="fas fa-user icon"></i>
        <input name='age' id='ageRegsitertecler' type="number" placeholder="Edad">
      </div>

      <div class='input-contenedor'>
        <i class="fas fa-user icon"></i>
        <input name='username' id='usernameRegistertecler' type="text" placeholder="Nombre de usuario">
      </div>

      <div class='input-contenedor'>
        <i class="fas fa-envelope icon"></i>
        <input name='mail' id='mailRegistertecler' type="text" placeholder="Correo Electronico">
      </div>

      <div class='input-contenedor'>
        <i class="fas fa-key icon"></i>
        <input name='password' id='passwordRegistertecler' type="password" placeholder="Contraseña">
      </div>

      <div class='input-contenedor'>
        <i class="fa fa-file-text icon"></i>
        <input name='tellUsSomething' id='tellusRegistertecler' type="text" placeholder="Algo curioso de ti">
      </div>


      <div class="text-center p-1">
        <h4>Tu lugar de trabajo</h4>
      </div>

      <div class='input-contenedor'>
        <i class="fa fa-globe icon"></i>
        <input name='city' id='countryRegistertecler' type="text" placeholder="¿De qué país eres?">
      </div>

      <div class='input-contenedor'>
        <i class="fa fa-map-marker icon"></i>
        <input name='country' id='cityRegistertecler' type="text" placeholder="¿Cuál es tu ciudad?">
      </div>


    
      <div class='input-contenedor'>
        <i class="fas fa-camera icon"></i>
        <input name='profilePhoto' id='photoRegistertecler' type="text" placeholder="Sube una foto">
      </div>

    </div>


  </form>
  <div class='p-5'>
    <button class='button' id='acceptRegisterButtonTecler'>Registrate</button>
  </div>


  <p>Al ingresar, aceptas los términos y condiciones.</p>
  <p>¿Ya tienes una cuenta? <a class="link" href="/login/"> Inicia sesión</a></p>
  <p>¿No eres un tecler?<a class='link' href='/signin'> Haz click aquí</a></p>


</div>

<script src="../public/js/signin/signinTecler.js" type="module"></script>