.inputs {
    text-align: center;
    color: black;
    background-color: none;
    background: none;
    border: none;
    text-decoration-color: black;
}

#bodyProfileTecler{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}