<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="maincontainer">
        <nav class="navbar navbar-dark bg-dark" style="display: flex; justify-content: flex-start;">
            <a class="navbar-brand" href="#" style="color:dimgrey">Página principal</a>
            <a class="navbar-brand" href="#">Mi perfil</a>
            <a class="navbar-brand" href="#">Cosas al azar</a>
            <a class="navbar-brand" href="#">Videos</a>
        </nav>
        <h4 style="margin-bottom: 20px;">Nuestros teclers</h4>
        <div id="Teclersdivision" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; margin-bottom: 20px;">
        </div>
        <h4 style="margin-bottom: 20px;">Nuestros evaluadores</h4>
        <div id="Evaluatorsdivision" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; margin-bottom: 20px;">

        </div>
        <h4 style="margin-bottom: 20px;">Nuestros colaboradores</h4>
        <div id="Companydivision" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; margin-bottom: 20px;"></div>
    </div>
    <script src="../css/js/bootstrap.min.js"></script>
    <script src="../js/indexPage.functions.js" type="module"></script>
</body>
</html>