<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div id="maincontainer">
        <div id="fotocontainer" style="padding: 5px;">
            <img src="" alt="" style="height: 80px; width: 80px;" id="profilephoto">
        </div>
    </div>
    <div class="formats">
        <form action="" class="formats-profile">
            <div class="form-group">
                <h2>Bienvenido al perfil de</h2>
                <input disabled type="text" name="" id="usernameprofile" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="nameprofile">En la vida real me llamo</label>
                <input disabled type="text" name="" id="nameprofile" class="form-control">
            </div>
            <div class="form-group">
                <label for="ageprofile">Tengo</label>
                <input disabled type="text" name="" id="ageprofile" class="form-control"> años
            </div>
            <div class="form-group">
                <label for="countryprofile">Vivo en </label>
                <input disabled type="text" name="" id="countryprofile" class="form-control">
            </div>
            <div class="form-group">
                <label for="cityprofile">En la ciudad de </label>
                <input disabled type="text" name="" id="cityprofile" class="form-control">
            </div>
            <div class="form-group" id="passwordHidden" hidden>
                <label for="passwordprofile">Contraseña</label>
                <input disabled type="text" name="" id="passwordprofile" class="form-control">
            </div>
        </form>
    </div>
    <div class="tablesprofile">
        <table class="table" id="tableStudies">
            <tr>
                <th>Aquí he estudiado</th>
            </tr>
        </table>
        <button id="addStudy" hidden class="btn btn-success">+</button>
        <button id="deleteStudy" hidden class="btn btn-danger">-</button>
        <table class="table" id="tableIdioms">
            <tr>
                <th>Sé hablar otros idiomas!</th>
            </tr>
        </table>
        <button id="addLenguage" hidden class="btn btn-success">+</button>
        <button id="deleteLenguage" hidden class="btn btn-danger">-</button>
        <table class="table" id="tableHobbies">
            <tr>
                <th>Esto me gusta hacer</th>
            </tr>
        </table>
        <button id="addHobbie" hidden class="btn btn-success">+</button>
        <button id="deleteHobbie" hidden class="btn btn-danger">-</button>
        <table class="table" id="tableSocials">
            <tr>
                <th>Puedes contactarme aquí</th>
            </tr>
        </table>
        <button id="addSocial" hidden class="btn btn-success">+</button>
        <button id="deleteSocial" hidden class="btn btn-danger">-</button>
        <div class="form-group">
            <button id="editButton" class="buttons">Editar</button>
        </div>
    </div>
    <script src="../css/js/bootstrap.min.js"></script>
    <script src="../js/profileteclerfunctions.js"></script>
</body>
</html>