<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="maincontainer">
        <nav class="navbar navbar-dark bg-dark" style="display: flex; justify-content: flex-start;">
            <a class="navbar-brand" href="./indexpage.html">Página principal</a>
            <a class="navbar-brand" href="#">Mi perfil</a>
            <a class="navbar-brand" href="#">Cosas al azar</a>
            <a class="navbar-brand" href="#">Videos</a>
        </nav>
        <div id="fotocontainer" style="padding: 5px;">
            <img src="" alt="" style="height: 200px; width: 200px;" id="profilePhotoprofile">
        </div>
        <div class="form-group">
            <input disabled type="text" name="" id="mailprofileEvaluator" class="form-control">
        </div>
    </div>
    <div class="formats">
        <form action="" class="formats-profile">
            <div class="form-group">
                <h2>Bienvenido al perfil de</h2>
                <input disabled type="text" name="" id="usernameprofileEvaluator" value="" class="form-control">
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <input type="text" disabled id="tellUsSomethingprofileEvaluator" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="nameprofileEvaluator">En la vida real me llamo</label>
                <input disabled type="text" name="" id="nameprofileEvaluator" class="form-control">
            </div>
            <div class="form-group">
                <label for="jobprofileEvaluator">Soy</label>
                <input disabled type="text" name="" id="jobprofileEvaluator" class="form-control"> en TeclaCodeAcademy
            </div>
            <div class="form-group" id="passwordHidden" hidden>
                <label for="passwordprofileEvaluator">Mi nueva contraseña</label>
                <input disabled type="password" name="" id="passwordprofileEvaluator" class="form-control">
            </div>

            <div id="tableEvaluationsContainer">
                <h2>Mis evaluaciones</h2>
                <table class="table" id="evaluationstable">
                    
                </table>
            </div>
            
        </form>
    </div>
    <script src="../css/js/bootstrap.min.js"></script>
    <script src="../js/profileevaluator.interactions.js" type="module"></script>
</body>
</html>