<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="principalContainer" >
        <div id="maincontainer">
            <nav class="navbar navbar-dark bg-dark" style="display: flex; justify-content: flex-start;">
                <a class="navbar-brand" href="./indexpage.html">Página principal</a>
                <a class="navbar-brand" href="#">Mi perfil</a>
                <a class="navbar-brand" href="#">Cosas al azar</a>
                <a class="navbar-brand" href="#">Videos</a>
            </nav>
            <div id="fotocontainer" style="padding: 5px;">
                <img src="" alt="" style="height: 200px; width: 200px;" id="profilePhotoprofile">
            </div>
            <div class="form-group">
                <input disabled type="text" name="" id="mailprofileCompany" class="form-control">
            </div>
            <div class="formats">
                <form action="" class="formats-profile">
                    <div class="form-group">
                        <h2>Bienvenido al perfil de</h2>
                        <input disabled type="text" name="" id="usernameprofileCompany" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="nameprofileCompany">En la vida real me llamo</label>
                        <input disabled type="text" name="" id="nameprofileCompany" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="jobprofileCompany">Soy</label>
                        <input disabled type="text" name="" id="jobprofileCompany" class="form-control"> en <input  disabled type="text" name="" id="companyNameCompany" class="form-control">
                    </div>
                    <div class="form-group" id="passwordHidden" hidden>
                        <label for="passwordprofileCompany">Mi nueva contraseña</label>
                        <input disabled type="password" name="" id="passwordprofileCompany" class="form-control">
                    </div>
                    <table class="table" id="tableOfers">
                        <tr>
                            <th>Ofertas de trabajo</th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        
    </div>
    <div id="formContainer" style="display: none;">
    </div>
    <div id="evaluationForm" style="display: none;"></div>
    <script src="../css/js/bootstrap.min.js"></script>
    <script src="../js/profliecompany.functions.js" type="module"></script>
</body>
</html>